.siteheader__food{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.siteheader__img{
  width: 44px;
  height: 44px;
}
.siteheader__list{
  display: flex;
  width: 448px;
  justify-content: space-between;
}
.siteheader__item{
  color: #150c01;
font-size: 16px;
font-weight: 400;
line-height: 19px;

}
.siteheader__btn{
color: #ffffff;
font-family: Roboto;
font-size: 16px;
font-weight: 400;
border-radius: 5px;
background: #dc780b;
border: 1px solid  #dc780b ;
margin: 14px 30px ;
}